<!DOCTYPE html>
<html>

<head>
    <title>Employee Payroll</title>

    <link rel="stylesheet" href="../Styles/dashboard.css">
</head>

<body>

     <!-- Header -->
    <div class="top-header">

        <img
            src="../Assets/Images/Emp-logo.jpeg"
            alt="logo"
            class="logo">

        <div >

            <span class="logo-text">EMPLOYEE </span> 
            
            <span id="paycolor">PAYROLL</span>

        </div>

    </div>

    <div class="container">

   <header>

    <h2>Employee Details</h2>

  <div class="header-right">

    <div class="search-container">

        <button id="searchBtn">

            <img
                src="../Assets/Images/search.jpeg"
                class="search-icon">

        </button>

        <input
            type="text"
            id="searchEmployee"
            placeholder="Search Employee">

    </div>

    <button id="addUserBtn">

        + Add User

    </button>

</div>

</header>
        <table>

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Start Date</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="employeeTable">

            </tbody>

        </table>

    </div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="../Scripts/api.js"></script>

<script src="../Scripts/dashboard.js"></script>

</body>

</html>